<form class="row mb-2" [formGroup]="detail">
  <div class="col-12" formArrayName="options">
    @for (control of options.controls; track $index) {
    <form class="row mb-2" [formGroupName]="$index">
      <div class="col-12">
        <input
          type="text"
          class="form-control mb-3"
          placeholder="Title"
          formControlName="title"
        />
      </div>
    </form>
    }
  </div>
  <div class="col-12 mb-3">
    <button type="button" class="btn btn-primary" (click)="addOption()">
      + Add option
    </button>
  </div>

  @for (item of formInputs; track $index) {
    <div class="col-6">
      <app-form-input [formInput]="item"></app-form-input>
    </div>
  }
  <!-- <div class="col-6">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="multiple"
        formControlName="multiple"
      />
      <label class="form-check-label" for="multiple"> Multiple </label>
    </div>
  </div> -->
  <!-- <div class="col-6">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="listView"
        formControlName="list"
      />
      <label class="form-check-label" for="listView"> List View </label>
    </div>
  </div> -->
</form>
