<form class="container" [formGroup]="form">
  <div class="row rounded bg-light p-md-5 p-3 my-3">
    <h2 class="text-center fw-bold mb-3">New Form</h2>
    <div class="col-12 mb-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Title"
          formControlName="title"
        />
        <label for="title">Title</label>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Description"
          formControlName="description"
        />
        <label for="description">Description</label>
      </div>
    </div>
  </div>

  @if (questions.length > 0) {
  <div class="row rounded bg-light p-md-5 p-3 mb-3" formArrayName="questions">
    <div class="col-12">
      <h3 class="text-center mb-3">Questions</h3>
    </div>
    @for (question of questions.controls; track $index) {
    <div class="col-12" [formGroupName]="$index">
      <app-question [question]="getQuestion($index)" />
    </div>
    }
  </div>
  }

  <div class="row">
    <div class="col-12 dropdown">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        + Add question
      </button>
      <ul class="dropdown-menu">
        @for (type of questionTypes | keyvalue; track $index) {
        <li>
          <a class="dropdown-item" (click)="onAddQuestion(type.value)">{{
            type.value
          }}</a>
        </li>
        }
      </ul>
    </div>
  </div>
</form>
