.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 2rem;
  max-width: 52rem;
  margin: 0 auto;
  background-color: #7434c7;

  textarea {
    resize: none;
  }
}

.question-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;

}
.question-box {
  background-color: #eee;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: .3rem;

  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .drag__handle {
      position: absolute;
      top: -0.4rem;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      border: none;
      outline: none;
      border-radius: .3rem;
      padding: .3rem .6rem;
      background-color: #e8e6ff;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }

    &:hover .drag__handle {
      display: block;
    }
  }
}

.btn {
  &-add__question {
    color: var(--text-primary) !important;
    margin-right: auto;
  }
}
