<div class="row p-3">
  <div class="col-12 p-0">
    <a class="btn btn-primary" [routerLink]="['/form']">
      <i class="bi bi-plus-lg"></i>
      <span class="view-lg fw-bold"> Add new Form</span>
    </a>
  </div>
</div>

<div class="row bg-light p-3">
  <div class="col-12 filter p-0 py-3">
    @for (chip of chips; track $index) {
    <div
      class="chip"
      [ngClass]="{ 'chip-selected': chip.selected }"
      (click)="chip.selected = !chip.selected"
    >
      <i
        class="bi chip-icon"
        [ngClass]="chip.selected ? chip.icon + '-fill' : chip.icon"
      ></i>
      <span class="chip-text">{{ chip.name }}</span>
    </div>
    }

    <div class="input-group ms-auto">
      <input
        type="text"
        class="form-control"
        id="search"
        placeholder="Search by Keyword"
      />
      <div class="input-group-text">
        <i class="bi bi-search"></i>
      </div>
    </div>
  </div>
  <div class="col-12 card-container p-0">
    @for (survey of surveys; track $index) {
    <div class="card">
      <img
        [src]="'../../../assets/images/' + survey.img"
        class="card-img__survey"
        alt="Survey background Image"
      />
      <div class="card-body">
        <h5 class="card-title">{{ survey.title }}</h5>
        <p class="card-text">
          {{ survey.des }}
        </p>
        <a href="#" class="fw-bold form-link"
          >View Form
          <span class="form-link__arrow">&rarr;</span>
        </a>
      </div>
    </div>
    }
  </div>
</div>
