:root {
  --dark-bg: hsl(230, 17%, 14%);
  --dark-text1: hsl(228, 34%, 66%);
  --dark-text2: hsl(0, 0%, 100%);
  --light-bg: hsl(0, 0%, 100%);
  --light-text1: hsl(230, 12%, 44%);
  --light-text2: hsl(230, 17%, 14%);

  --background: var(--light-bg);
  --text-color: var(--light-text2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-bg);
    --text-color: var(--dark-text2);
  }
}

body.light {
  --background: var(--light-bg);
  --text-color: var(--light-text2);
}

body.dark {
  --background: var(--dark-bg);
  --text-color: var(--dark-text2);
}
