:root
// , [data-bs-theme=light]
{
  --font-primary: "Nunito Sans", sans-serif;
  --font-display: "Roboto", sans-serif;

  --text-primary: #eee;
  // ---------------------------------------------------------------------  Color Palette
  // -------------------------------------------------------------------- ------------------------
  --color-blue: #0d6efd;
  --color-indigo: #6610f2;
  --color-purple: #6f42c1;
  --color-pink: #d63384;
  --color-red: #dc3545;
  --color-orange: #fd7e14;
  --color-yellow: #ffc107;
  --color-green: #198754;
  --color-teal: #20c997;
  --color-cyan: #0dcaf0;

  --color-blue__3: #0d6efd33;
  --color-indigo__3: #6610f233;
  --color-purple__3: #6f42c133;
  --color-pink__3: #d6338433;
  --color-red__3: #dc354533;
  --color-orange__3: #fd7e1433;
  --color-yellow__3: #ffc10733;
  --color-green__3: #19875433;
  --color-teal__3: #20c99733;
  --color-cyan__3: #0dcaf033;

  --color-blue__6: #0d6efd66;
  --color-indigo__6: #6610f266;
  --color-purple__6: #6f42c166;
  --color-pink__6: #d6338466;
  --color-red__6: #dc354566;
  --color-orange__6: #fd7e1466;
  --color-yellow__6: #ffc10766;
  --color-green__6: #19875466;
  --color-teal__6: #20c99766;
  --color-cyan__6: #0dcaf066;

  --color-blue__9: #0d6efd99;
  --color-indigo__9: #6610f299;
  --color-purple__9: #6f42c199;
  --color-pink__9: #d6338499;
  --color-red__9: #dc354599;
  --color-orange__9: #fd7e1499;
  --color-yellow__9: #ffc10799;
  --color-green__9: #19875499;
  --color-teal__9: #20c99799;
  --color-cyan__9: #0dcaf099;

  --color-blue__c: #0d6efdcc;
  --color-indigo__c: #6610f2cc;
  --color-purple__c: #6f42c1cc;
  --color-pink__c: #d63384cc;
  --color-red__c: #dc3545cc;
  --color-orange__c: #fd7e14cc;
  --color-yellow__c: #ffc107cc;
  --color-green__c: #198754cc;
  --color-teal__c: #20c997cc;
  --color-cyan__c: #0dcaf0cc;

  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-success: #198754;
  --color-info: #0dcaf0;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  --color-dark: #212529;

  --color-black: #000;
  --color-white: #fff;

  --color-gray: #6c757d;
  --color-gray-dark: #343a40;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  --color-gray__3: #6c757d33;
  --color-gray-dark__3: #343a4033;
  --color-gray-100__3: #f8f9fa33;
  --color-gray-200__3: #e9ecef33;
  --color-gray-300__3: #dee2e633;
  --color-gray-400__3: #ced4da33;
  --color-gray-500__3: #adb5bd33;
  --color-gray-600__3: #6c757d33;
  --color-gray-700__3: #49505733;
  --color-gray-800__3: #343a4033;
  --color-gray-900__3: #21252933;

  --color-gray__6: #6c757d66;
  --color-gray-dark__6: #343a4066;
  --color-gray-100__6: #f8f9fa66;
  --color-gray-200__6: #e9ecef66;
  --color-gray-300__6: #dee2e666;
  --color-gray-400__6: #ced4da66;
  --color-gray-500__6: #adb5bd66;
  --color-gray-600__6: #6c757d66;
  --color-gray-700__6: #49505766;
  --color-gray-800__6: #343a4066;
  --color-gray-900__6: #21252966;

  --color-gray__9: #6c757d99;
  --color-gray-dark__9: #343a4099;
  --color-gray-100__9: #f8f9fa99;
  --color-gray-200__9: #e9ecef99;
  --color-gray-300__9: #dee2e699;
  --color-gray-400__9: #ced4da99;
  --color-gray-500__9: #adb5bd99;
  --color-gray-600__9: #6c757d99;
  --color-gray-700__9: #49505799;
  --color-gray-800__9: #343a4099;
  --color-gray-900__9: #21252999;

  // ---------------------------------------------------------------------  -text, -bg, -border
  // --------------------------------------------------------------------------------------------
  --color-primary-text: #052c65;
  --color-secondary-text: #2b2f32;
  --color-success-text: #0a3622;
  --color-info-text: #055160;
  --color-warning-text: #664d03;
  --color-danger-text: #58151c;
  --color-light-text: #495057;
  --color-dark-text: #495057;

  --color-primary-bg: #cfe2ff;
  --color-secondary-bg: #e2e3e5;
  --color-success-bg: #d1e7dd;
  --color-info-bg: #cff4fc;
  --color-warning-bg: #fff3cd;
  --color-danger-bg: #f8d7da;
  --color-light-bg: #fcfcfd;
  --color-dark-bg: #ced4da;

  --color-primary-border: #9ec5fe;
  --color-secondary-border: #c4c8cb;
  --color-success-border: #a3cfbb;
  --color-info-border: #9eeaf9;
  --color-warning-border: #ffe69c;
  --color-danger-border: #f1aeb5;
  --color-light-border: #e9ecef;
  --color-dark-border: #adb5bd;

  // ---------------------------------------------------------------------  Border Radius
  // --------------------------------------------------------------------------------------------
  --color-border-radius: 0.375rem;
  --color-border-radius-sm: 0.25rem;
  --color-border-radius-lg: 0.5rem;
  --color-border-radius-xl: 1rem;
  --color-border-radius-xxl: 2rem;
  --color-border-radius-2xl: var(--color-border-radius-xxl);
  --color-border-radius-pill: 50rem;

  // ---------------------------------------------------------------------  Box Shadow
  // --------------------------------------------------------------------------------------------
  --color-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --color-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --color-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --color-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --color-focus-ring-width: 0.25rem;
  --color-focus-ring-opacity: 0.25;
  --color-focus-ring-color: rgba(13, 110, 253, 0.25);
  --color-form-valid-color: #198754;
  --color-form-valid-border-color: #198754;
  --color-form-invalid-color: #dc3545;
  --color-form-invalid-border-color: #dc3545;
}
