@for (question of questions.controls; track $index) {
<app-question [question]="question" />
}

<div class="row">
  <div class="col-12 dropdown">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      + Add question
    </button>
    <ul class="dropdown-menu">
      @for (type of questionTypes | keyvalue; track $index) {
      <li>
        <a class="dropdown-item" (click)="onAddQuestion(type.value)">{{
          type.value
        }}</a>
      </li>
      }
    </ul>
  </div>
</div>
